.idea/misc.xml
.idea/modules.xml
.idea/pianoNotesProject.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.spyproject/config/codestyle.ini
.spyproject/config/encoding.ini
.spyproject/config/vcs.ini
.spyproject/config/workspace.ini
.spyproject/config/backups/codestyle.ini.bak
.spyproject/config/backups/encoding.ini.bak
.spyproject/config/backups/vcs.ini.bak
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/defaults/defaults-codestyle-0.2.0.ini
.spyproject/config/defaults/defaults-encoding-0.2.0.ini
.spyproject/config/defaults/defaults-vcs-0.2.0.ini
.spyproject/config/defaults/defaults-workspace-0.2.0.ini
Untitled-1.ipynb
piano_package/note_creation_clone/
piano_package/__pycache__/FirstTry.cpython-36.pyc
piano_package/__pycache__/__init__.cpython-36.pyc
Lectures/Lecture2.md
